.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 20px;
  margin: 20px;
}

.shape {
  position: relative;
  width: 100%;
  background: #202020;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shape-purchased-card{
  position: relative;
  width: 300px !important;
  height: 450px !important;
}

.shape .shape-purchased-card .shape-purchased{
  position: absolute;
  width: 300px;
  height: 450px;
  background-color: #aaaaaa;
  color: red;
  filter: blur(150px);
  z-index: 3 !important;
}

.shape .shape-purchased-card p{
  position: relative !important;
  top: 150px;
  font-size: 3rem;
  font-weight: 600;
  text-align: center !important;
  filter: blur(0px) !important;
  color: red;
  z-index: 5 !important;
}

.shape .shape-card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 300px;
  height: 450px;
  background: #5e5f5f;
  border-radius: 30px;
  overflow: hidden;
}

.shape .shape-card::before {
  content: "";
  position: absolute;
  top: -50%;
  width: 100%;
  height: 100%;
  background: #54565d;
  transform: skewY(-20deg);
  transition: 0.5s;
}

.shape .shape-card:hover::before {
  top: -75%;
  transform: skewY(45deg);
}

.shape .shape-card::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  font-weight: 600;
  font-size: 4em;
}

.shape .shape-card .shape-image-card {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.shape .shape-card .shape-image-card .shape-image {
  height: 250px;
  width: auto;
  transition: 0.3s;
}

.shape .shape-card .shape-info-card {
  position: relative;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 2;
}

.shape .shape-card .shape-info-card .shape-title {
  position: relative;
  top: 20px;
  font-size: 20px;
  color: #eaeeeb;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.1px;
  transition: 0.5s;
}

.shape .shape-card .shape-info-card .shape-description {
  position: relative;
  top: 20px;
  font-size: 15px;
  color: #eaeeeb;
  text-transform: uppercase;
  transition: 0.5s;
}

.shape .shape-card .shape-info-card .shape-price {
  position: relative;
  top: 20px;
  font-size: 19px;
  color: #cccecd;
  font-weight: 700;
  letter-spacing: 1px;
  transition: 0.5s;
}

.shape .shape-card:hover .shape-info-card .shape-title {
  top: 0px;
}

.shape .shape-card:hover .shape-info-card .shape-description {
  top: 0px;
}

.shape .shape-card:hover .shape-info-card .shape-price {
  top: 0px;
}

.shape .shape-card .shape-info-card .shape-buttons {
  display: flex;
  width: 100%;
  gap: 5px;
  padding: 10px;
}

.shape .shape-card .shape-info-card .shape-button {
  width: 150px;
  position: relative;
  top: 100px;
  opacity: 0;
  color: #eaeeeb;
  font-size: 14px !important;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}

.shape .shape-card:hover .shape-info-card .shape-button {
  top: -1px;
  opacity: 1;
}

.btn-primary {
  width: 9rem;
  height: 3rem;
  background: #202020 !important;
  border: none !important;
  &:hover {
    background: #54565d !important;
  }
}